<p>footer works!</p>

<footer>

   <div class="logo">Home Meu Site</div>

    <nav class="nav-links">
        <a routerLink="">Home</a> |
        <a routerLink="/cardsusuarios">Usuários</a>|
         <a routerLink="/cardsestabelecimentos">Estabelecimentos</a> |
        <a routerLink="/criarconta">Cadastro</a>|
        <a routerLink="/loginpage">Login</a>|
        <a routerLink="/footer">Footer</a>|

    </nav>

      <p>&copy; Vem Que Tem. Todos os direitos reservados.</p>
      <p>Desenvolvido com 💻 por Sr. Sierra.</p>

    </footer>
