
  <header>
    <img src="assets/logo-vemquetem.png" alt="">
    <div class="container">
      <div>
        <div class="logo">Vem que tem, Reservas e encontros num só lugar</div>

        <div class="slogan">
          Suas reservas com segurança num só lugar
        </div>

         <div class="main-layout">
    <aside class="sidebar">
      <!-- Sidebar/menu aqui -->
     <nav>
        <a href=""><i class="fas fa-home"></i> Início</a>
        <a href="/home"><i class="fas fa-home"></i> Home</a>
        <a href="/cardsusuarios"><i class="fas fa-heart "></i> Usuários</a>
        <a href="/cardsestabelecimentos"
          ><i class="fas fa-map-marker-alt"></i> Estabelecimentos</a
        >
        <a href="/criarconta"><i class="fas fa-calendar-check"></i> Cadastro usuários</a>
        <a href="/criar-evento"><i class="fas fa-calendar-check"></i>Cadastro evento</a>
        <a href="/criar-estabelecimento"><i class="fas fa-calendar-check"></i>Cadastro estabelecimento</a>
        <a href="/carrossel"><i class="fas fa-calendar-check"></i>Carrossel</a>
        <a href="/loginpage"><i class="fas fa-calendar-check"></i> login </a><br>
      </nav>
    </aside>

  </div>
      </div>
    </div>
  </header>
