

<body>

  <header>
    <div class="container">
      <div>
        <div class="logo">Vem Que Tem </div>

        <div class="slogan">Encontros e reservas com segurança num só lugar</div>
      </div>
      <nav>
        <a href=""><i class="fas fa-home"></i> Início</a>
        <a href="#encontros"><i class="fas fa-heart"></i> Paquerar</a>
        <a href="/cardsestabelecimentos"><i class="fas fa-map-marker-alt"></i> Locais</a>
        <a href="#reservas"><i class="fas fa-calendar-check"></i> Reservas</a>
        <a href="#seguranca"><i class="fas fa-shield-alt"></i> Segurança</a>
        <button href="/loginpage"> Entrar </button>
      </nav>
    </div>
  </header>

</body>

