<body>
  <header>
    <div class="container">
      <div>
        <div class="logo">Vem Que Tem</div>

        <div class="slogan">
          Encontros e reservas com segurança num só lugar
        </div>
      </div>
      <nav>
        <a href=""><i class="fas fa-home"></i> Início</a>
        <a href="/cardsusuarios"><i class="fas fa-heart"></i>Usuários</a>
        <a href="/cardsestabelecimentos"
          ><i class="fas fa-map-marker-alt"></i>Esatabelecimentos</a
        >
        <a href="/criarconta"><i class="fas fa-calendar-check"></i>Cadastro</a>
        <a href="/loginpage"><i class="fas fa-calendar-check"></i>login</a>
      </nav>
    </div>
  </header>
</body>
