form {
  width: 100%;
  max-width: 700px;
  min-width: 0;
  background: #fff;
  padding: 32px 24px; // mais espaçamento interno
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  margin: 100px auto 0 auto; // centralizado e menos espaço acima
  display: flex;
  flex-direction: column;
  gap: 20px; // espaçamento entre os itens

  input,
  select,
  textarea,
  button {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  label {
    padding-left:  190px;
    margin-bottom: 6px;
    font-weight: 500;
    display: flex;
    text-decoration: left;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 0;
  }
}
