<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<!--
<nav class="sidebar">
  <div class="logo" ><img src="assets/logolilas.png" alt=""></div>
  <ul class="nav-list">

    <li>
       <a href=""><i class="bi bi-house-door"></i></a>
    </li>

    <li>
     <a href="/criar-evento"><i class="bi bi-plus-square"></i></a>
    </li> -->

<!--
    <li>
      <a routerLink="/cardsusuarios" routerLinkActive="active">
        <i class="bi bi-search"></i>
      </a>
    </li>

    <li>
      <a routerLink="/cardsestabelecimentos" routerLinkActive="active">
        <i class="bi bi-compass-fill"></i>
      </a>
    </li>


    <li>
      <a routerLink="/mensagens" routerLinkActive="active">
        <i class="bi bi-chat-dots"></i>
      </a>
    </li>

    <li>
      <a routerLink="/notificacoes" routerLinkActive="active">
        <i class="bi bi-heart"></i>
      </a>
    </li>

    <li>
      <a routerLink="/criar-evento" >
        <i class="bi bi-bar-chart"></i>
      </a>
    </li>

    <li>
      <a routerLink="/perfil" routerLinkActive="active">
        <i class="bi bi-person"></i>
      </a>
    </li>-->
<!--
  </ul>
</nav> -->


<body>
  <header>... <!-- seu header --></header>
  <div class="main-layout">
    <aside class="sidebar">
      <!-- Sidebar/menu aqui -->
     <nav>
        <a href=""><i class="fas fa-home"></i> Início</a>
        <a href="/cardsusuarios"><i class="fas fa-heart "></i> Usuários</a>
        <a href="/cardsestabelecimentos"
          ><i class="fas fa-map-marker-alt"></i> Estabelecimentos</a
        >
        <a href="/criarconta"><i class="fas fa-calendar-check"></i> Cadastro usuários</a>
        <a href="/criar-evento"><i class="fas fa-calendar-check"></i>Cadastro evento</a>
        <a href="/loginpage"><i class="fas fa-calendar-check"></i> login </a><br>
      </nav>
    </aside>
    <main class="conteudo">
      <!-- Conteúdo central da página -->
      <h1>Conheça nossas casas cadastradas</h1>
      <!-- ...restante do conteúdo -->
    </main>
  </div>
</body>
