<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">


<body>
  <header>... <!-- seu header --></header>
  <div class="main-layout">
    <aside class="sidebar">
      <!-- Sidebar/menu aqui -->
     <nav>
        <a href=""><i class="fas fa-home"></i> Início</a>
        <a href="/cardsusuarios"><i class="fas fa-heart "></i> Usuários</a>
        <a href="/cardsestabelecimentos"
          ><i class="fas fa-map-marker-alt"></i> Estabelecimentos</a
        >
        <a href="/criarconta"><i class="fas fa-calendar-check"></i> Cadastro usuários</a>
        <a href="/criar-evento"><i class="fas fa-calendar-check"></i>Cadastro evento</a>
        <a href="/loginpage"><i class="fas fa-calendar-check"></i> login </a><br>
      </nav>
    </aside>
    
  </div>
</body>
