
<h1>Conheça nossas casas cadastradas</h1>


<div id="carouselExample" >



    <div class="carousel-item">
      <img src="assets/sitio2.jpg" class="d-block w-100" alt="..." />
      <div>
       <h5>
      sitio tudo nosso

    </h5>
    <p >🎵 Ambiente: Eletrônico, funk, open bar. Mais de 10 anos de história.</p>
    <ul class="list-unstyled-mb-3">
      <li>📍 Local: Copacabana, RJ</li>
      <li>🛡️ Segurança: QR code + equipe privada</li>
      <li>🕐 Horário: Sex a Dom, 20h às 5h</li>
      <li>🎟️ Reservas: Camarote Gold, Mesa VIP</li>
    </ul>


      </div>
       <button class="buttonReservar">Reservar</button>

    </div>
</div>
