<!-- <app-home></app-home>
<app-login-page></app-login-page>
<app-create-acont></app-create-acont>
<app-cards-usuarios></app-cards-usuarios>
<app-cards-estabelecimentos></app-cards-estabelecimentos> -->

<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
<router-outlet />
<app-footer></app-footer> -->

<!-- <ngbd-carousel-basic></ngbd-carousel-basic> -->




<app-header></app-header>

<app-sidebar></app-sidebar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
