<p>create-acont works!</p>

<body>


    <header>
      <h2>Login</h2>
    </header>
    <main>
      <div class="container">
        <form>
          <fieldset>
            <table>
              <!-- primeira linha -->
              <tr>
                <td>
                  <label for="nome">Nome completo:</label>
                  <input
                    type="text"
                    id="nome"
                    name="nome"
                    placeholder="Digite o nome"
                    required
                  />
                  <!-- campo e-mail -->
                  <label for="email">E-mail:</label>
                  <input type="email" id="email" name="email" placeholder="Digite o e-mail"required />
                  <!-- senha -->
                  <label for="senha">Senha:</label>
                  <input type="password" id="senha" name="senha" placeholder="Digite sua Senha" required/>
                </td>

                <td>
                  <label for="nascimento">Data de nascimento:</label>
                  <input type="date" id="nascimento" name="nascimento" />

                  <!-- lista suspensa (select) -->
                  <!-- permite escolher  -->
                  <label for="estado">Estado</label>
                  <select name="estado" id="estado">
                    <option value="">Selecione</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>
                </td>
              </tr>
            </table>

            <label for="checkbox">
              <input type="checkbox" name="termos" required />
              Aceito os termos e condições
            </label>
            <!-- botão enviar -->
            <button type="submit">Enviar</button>
            <!-- botão para resetar -->
            <button type="reset">Limpar</button>
          </fieldset>
        </form>
      </div>
    </main>
    <footer>
      <p>&copy; Vem Que Tem. Todos os direitos reservados.</p>
      <p>Desenvolvido com 💻 por Sr. Sierra.</p>
      <p>
        <a href="/README.md">Política de Privacidade</a> |
        <a href="/README.md">Termos de Uso</a>
      </p>
    </footer>
</body>

