<!-- carrossel de usuários -->

<div id="carouselExample" >
  <h1>Usuários cadastrados</h1>


    <div class="carousel-item">
      <img src="assets/mulher2.jpeg" class="d-block w-100" alt="..." />
      <div>
        <h5>
          Camila Nunes
        </h5>
        <p class="card-text">
          💬 Bio: Sexta é dia de sair. Gosta de funk e vinho? Me chama!
        </p>
        <ul class="list-unstyled-mb-3">
          <li>👤 28 anos</li>
          <li>📍 Solteira</li>
          <li>🎯 Interesses: Música, eventos, pets</li>
          <li>📅 Disponível: Finais de semana</li>
          <li>📍 Distância: 3km de você </li>
          <li href="#" class="btn btn-success w-100">💌 Enviar convite</li>
        <li class="text-mutedd-block-mt-2">✅ Verificado • 56 curtidas</li>
        </ul>


      </div>
       <button class="buttonConvidar">Convidar</button>

    </div>
</div>
