<div class="user-card" *ngIf="user">
  <div class="user-photo">
    <img [src]="user.fotoUrl" [alt]="user.nome" />
  </div>

  <div class="user-info">
    <h3 class="user-name">{{ user.nome }}</h3>

    <div class="user-details">
      <span *ngIf="user.genero" class="user-gender">
        <i class="gender-icon">👤</i>
        {{ user.genero }}
      </span>
      <span *ngIf="calcularIdade()" class="user-age">
        <i class="age-icon">🎂</i>
        {{ calcularIdade() }} anos
      </span>
      <span *ngIf="user.localizacao" class="user-location">
        <i class="location-icon">📍</i>
        {{ user.localizacao }}
      </span>

    </div>

    <p *ngIf="user.miniBio" class="user-bio">{{ user.miniBio }}</p>
  </div>

  <div class="user-actions">
    <button class="btn-curtir" (click)="incrementar()">
      ❤️ Curtir
    </button>
     <span class="user-contador">
        <i class="contador-icon">❤️{{ contador2 }}</i>
      </span>





    <!-- Botão de convidar, se quiser ativar depois -->
    <!-- <button class="btn-convidar" (click)="onConvidar()">
      📩 Convidar
    </button> -->
  </div>
</div>
